target/META-INF/mule-src/mdr-sys-api/src/main/mule/get-timeperiod.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:min-log="http://www.mulesoft.org/schema/mule/min-log"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/min-log http://www.mulesoft.org/schema/mule/min-log/current/mule-min-log.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="getTimeperiodDetails" doc:id="4a3a331b-bda1-4827-b0a4-804811aa1f66" >
		<min-log:put-all doc:name="set-queryparms-transactionproperties" doc:id="81344cf4-bcf2-450c-95af-189288de1d3d" newProperties='#[if(!isEmpty(attributes.queryParams)) attributes.queryParams else ""]' transactionProperties="#[vars.transactionProperties]" target="transactionProperties"/>
		<min-log:log doc:name="start Logger" doc:id="e9614ce4-098b-4937-8051-a7dd9f0b604d" msg=" Start: getTimeperiodDetails" transactionProperties="#[vars.transactionProperties]"/>
		<ee:transform doc:name="transform-poolweek-query-request" doc:id="8a882a51-28f8-4aa1-9a5b-7e2712582472" >
			<ee:message >
				<ee:set-payload resource="dwl/qmp/timeperiod-query-keydate-daydate.dwl" />
			</ee:message>
		</ee:transform>
		<db:select doc:name="Get poolweek details MDR AWS" doc:id="5d262423-a16d-4948-be85-19baa95f4afb" config-ref="MySQL_Config">
					<db:sql>#[payload]</db:sql>
				</db:select>
		<ee:transform doc:name="Response Message" doc:id="bca6569b-4194-42ca-b845-d3a8a97cb455">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"Totalresults": sizeOf(payload),
	"Data": payload map {
        "PoolWeek": $.PoolWeek
	},
	"Status": "Ok"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<min-log:log doc:name="end Logger" doc:id="5449fe9f-2ea5-45a1-b680-6780b1719e09" msg="End : getTimeperiodDetails" transactionProperties="#[vars.transactionProperties]" />
	</flow>
</mule>
